{
  "openapi": "3.0.3",
  "info": {
    "title": "Smartsheet API Reference",
    "version": "2.0.0",
    "x-logo": {
      "url": "/images/smartsheet-horizontal-logo.png",
      "href": "https://developers.smartsheet.com",
      "altText": "Smartsheet logo"
    },
    "description": "\nUpdated 2025-01-22; many descriptions, x-codeSamples, and examples removed for space and readability\nMoved tags to bottom"
  },
  "servers": [
    {
      "url": "https://api.smartsheet.com/2.0",
      "description": "US production API server"
    },
    {
      "url": "https://api.smartsheet.eu/2.0",
      "description": "EU production API server"
    },
    {
      "url": "https://api.smartsheetgov.com/2.0",
      "description": "Gov-US production API server"
    }
  ],
  "paths": {
    "/contacts": {
      "parameters": [
        {
          "$ref": "#/components/parameters/authorizationHeader"
        }
      ],
      "get": {
        "operationId": "list-contacts",
        "summary": "List Contacts",
        "description": "Gets a list of the user's Smartsheet contacts.",
        "tags": [
          "contacts"
        ],
        "security": [
          {
            "APIToken": []
          },
          {
            "OAuth2": [
              "READ_CONTACTS"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/includeAllBoolean"
          },
          {
            "$ref": "#/components/parameters/modifiedSince"
          },
          {
            "$ref": "#/components/parameters/numericDates"
          },
          {
            "$ref": "#/components/parameters/pageNumberOptional"
          },
          {
            "$ref": "#/components/parameters/pageSizeOptional"
          }
        ],
        "responses": {
          "200": {
            "description": "IndexResult object containing an array of Contact objects",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PagedResult"
                    },
                    {
                      "$ref": "#/components/schemas/ContactArray"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error_401"
          },
          "404": {
            "$ref": "#/components/responses/Error_404"
          },
          "500": {
            "$ref": "#/components/responses/Error_500"
          }
        }
      }
    },
    "/contacts/{contactId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/authorizationHeader"
        },
        {
          "name": "contactId",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/Int64"
          },
          "required": true,
          "description": "contactId of the contact being accessed."
        }
      ],
      "get": {
        "summary": "Get Contact",
        "description": "Gets the specified contact.",
        "operationId": "get-contact",
        "tags": [
          "contacts"
        ],
        "security": [
          {
            "APIToken": []
          },
          {
            "OAuth2": [
              "READ_CONTACTS"
            ]
          }
        ],
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "A comma-separated list of optional elements to include in the response:\n  * **profileImage**\n",
            "schema": {
              "type": "string",
              "enum": [
                "profileImage"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns Contact object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error_Generic"
          }
        }
      }
    },
    "/events": {
      "get": {
        "operationId": "list-events",
        "summary": "List Events",
        "description": "Gets events that are occurring in your Smartsheet organization account. Examples of events are creation, update, load, and delete of sheets, reports, dashboards, attachments, users, etc.\n\nEach event type has a distinct combination of objectType and action. Many event types have additional information returned under an additionalDetails object. See the <a href=\"https://smartsheet-platform.github.io/event-reporting-docs/\" target=\"_blank\">Event Reporting reference documentation</a> for a complete list of all currently supported events, including their respective objectType, action, and additionalDetails properties.",
        "tags": [
          "events"
        ],
        "security": [
          {
            "APIToken": []
          },
          {
            "OAuth2": [
              "READ_EVENTS"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/acceptEncodingHeader"
          },
          {
            "$ref": "#/components/parameters/authorizationHeader"
          },
          {
            "name": "since",
            "in": "query",
            "description": "The earliest time from which events are included in the response. Events before this time are excluded. This parameter is intended for use when backfilling data at client startup or recovery--don't use it for fine-grained date-based queries. Therefore, resolution is limited to the nearest hour. The value is interpreted as ISO-8601 format, unless `numericDates` is specified (see details about `numericDates` below).\n\nYou must pass in a value for either `since` or `streamPosition` and never both.",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "required": false
          },
          {
            "name": "to",
            "in": "query",
            "description": "The latest time up to which events are included in the response. Events after this time are excluded. The `to` parameter requires using the `since` query parameter (above). This parameter is intended for use when backfilling data at client startup or recovery--don't use it for fine-grained date-based queries. Therefore, resolution is limited to the nearest hour. The value is interpreted as ISO-8601 format, unless `numericDates` is specified (see details about `numericDates` below).\n\nIf `to` is a future time, the current time is used. If `to` equals the `since` time, an empty data value is returned. If `to` is before the `since` time, an error is returned.",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "required": false
          },
          {
            "name": "streamPosition",
            "in": "query",
            "description": "Indicates next set of events to return. Use value of `nextStreamPosition` returned from the previous call.\nYou must pass in a value for either `since` or `streamPosition` and never both.",
            "schema": {
              "type": "string",
              "example": "XyzAb1234cdefghijklmnofpq"
            },
            "required": false
          },
          {
            "name": "maxCount",
            "in": "query",
            "description": "Maximum number of events to return as response to this call.\nMust be between 1 through 10,000 (inclusive).\nDefaults to 1,000 if not specified.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10000,
              "default": 1000
            },
            "required": false
          },
          {
            "name": "numericDates",
            "in": "query",
            "description": "If true, dates are accepted and returned in Unix epoch time (milliseconds since midnight on January 1, 1970 in UTC time).\nDefault is false, which means ISO-8601 format.",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "required": false
          },
          {
            "name": "managedPlanId",
            "in": "query",
            "description": "The target managed plan for which to list events. Authorized if the caller is a system administrator on either the target managed plan or the main plan in EPM hierarchy.",
            "schema": {
              "$ref": "#/components/schemas/Int64"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "description": "StreamResult Object",
                      "type": "object",
                      "properties": {
                        "nextStreamPosition": {
                          "description": "This string should be passed back to the next GET events call to obtain subsequent events.",
                          "type": "string",
                          "example": "XyzAb1234cdefghijklmnofpq"
                        },
                        "moreAvailable": {
                          "description": "True if more results are available. This is typically due to event counts exceeding the maxCount parameter passed in.",
                          "type": "boolean",
                          "example": true
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "description": "List of Events",
                          "type": "array",
                          "items": {
                            "description": "An Event object for event reporting.",
                            "$ref": "#/components/schemas/Event"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request.  See Smartsheet Error Code and Message for details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error_401"
          },
          "403": {
            "description": "Forbidden.  See Smartsheet Error Code and Message for details.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Error_404"
          },
          "405": {
            "description": "Method Not Allowed.  See Smartsheet Error Code and Message for details.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "1010Example": {
                    "summary": "404 - 1010 - HTTP Method Not Supported",
                    "value": {
                      "errorCode": 1010,
                      "message": "HTTP Method Not Supported",
                      "refId": "exlxshtxlpl8"
                    }
                  },
                  "1122Example": {
                    "summary": "404 - 1122 - Requested URL does not support this method: {0}",
                    "value": {
                      "errorCode": 1122,
                      "message": "Requested URL does not support this method: {0}.",
                      "refId": "exlxshtxlpl8"
                    }
                  }
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable.  See Smartsheet Error Code and Message for details.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "1052Example": {
                    "summary": "Invalid Accept header. Media type not supported.",
                    "value": {
                      "errorCode": 1052,
                      "message": "Invalid Accept header. Media type not supported.",
                      "refId": "exlxshtxlpl8"
                    }
                  }
                }
              }
            }
          },
          "410": {
            "description": "Gone.  See Smartsheet Error Code and Message for details.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "4005Example": {
                    "summary": "API Version Retired.",
                    "value": {
                      "errorCode": 4005,
                      "message": "API Version Retired.",
                      "refId": "exlxshtxlpl8"
                    }
                  }
                }
              }
            }
          },
          "415": {
            "description": "Gone.  See Smartsheet Error Code and Message for details.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "1124Example": {
                    "summary": "Invalid Content-Type header. Media type not supported.",
                    "value": {
                      "errorCode": 1124,
                      "message": "Invalid Content-Type header. Media type not supported.",
                      "refId": "exlxshtxlpl8"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Gone.  See Smartsheet Error Code and Message for details.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "4003Example": {
                    "summary": "Rate limit exceeded.",
                    "value": {
                      "errorCode": 4003,
                      "message": "Rate limit exceeded.",
                      "refId": "exlxshtxlpl8"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/paths/~1contacts/get/responses/500"
          }
        }
      }
    },
    "/home/folders": {
      "parameters": [
        {
          "$ref": "#/components/parameters/authorizationHeader"
        }
      ],
      "get": {
        "summary": "List Folders in Home",
        "description": "Gets a list of folders in your Home tab. The list contains an abbreviated Folder object for each folder.",
        "tags": [
          "home"
        ],
        "security": [
          {
            "APIToken": []
          },
          {
            "OAuth2": [
              "READ_SHEETS"
            ]
          }
        ],
        "operationId": "home-list-folders",
        "parameters": [
          {
            "$ref": "#/components/parameters/includeAllBoolean"
          },
          {
            "$ref": "#/components/parameters/pageNumberOptional"
          },
          {
            "$ref": "#/components/parameters/pageSizeOptional"
          }
        ],
        "responses": {
          "200": {
            "description": "IndexResult object containing an array of Folder objects.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PagedResult"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/FolderArray"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error_Generic"
          }
        }
      },
      "post": {
        "summary": "Create Folder",
        "description": "Creates a new folder.\n",
        "operationId": "create-home-folder",
        "tags": [
          "home"
        ],
        "security": [
          {
            "APIToken": []
          },
          {
            "OAuth2": [
              "ADMIN_WORKSPACES"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/contentTypeHeader"
          }
        ],
        "requestBody": {
          "description": "Folder to create.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Folder"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result object containing a Folder object for newly created folder.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ResultPrefix"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/FolderArray"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error_Generic"
          }
        }
      }
    },
    "/imageurls": {
      "parameters": [
        {
          "$ref": "#/components/parameters/authorizationHeader"
        },
        {
          "$ref": "#/components/parameters/contentTypeHeader"
        }
      ],
      "post": {
        "operationId": "listImageUrls",
        "summary": "List Image URLs",
        "description": "Posts an array of Image Url objects that can be used to retrieve the specified cell images.",
        "tags": [
          "cellImages"
        ],
        "security": [
          {
            "APIToken": []
          },
          {
            "OAuth2": [
              "READ_SHEETS"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ImageUrl"
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "imageUrls": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ImageUrl"
                          }
                        },
                        "urlExpiresInMillis": {
                          "description": "Milliseconds before the URLs within imageUrls expire.",
                          "$ref": "#/components/schemas/Int64"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/search": {
      "parameters": [
        {
          "$ref": "#/components/parameters/authorizationHeader"
        }
      ],
      "get": {
        "summary": "Search Everything",
        "description": "Searches all sheets that the user can access, for the specified text. If you have not used the public API in a while, we will need to provision your data. This could take up to 24 hours so please check back later!",
        "tags": [
          "search"
        ],
        "security": [
          {
            "APIToken": []
          },
          {
            "OAuth2": [
              "READ_SHEETS"
            ]
          }
        ],
        "operationId": "list-search",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Text with which to perform the search. Enclose in double-quotes for an exact search.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "in": "query",
            "required": false,
            "description": "**Deprecated** When specified with a value of **personalWorkspace**, limits the response to only those items in the user's workspaces.\n",
            "schema": {
              "type": "string",
              "default": ""
            },
            "deprecated": true
          },
          {
            "$ref": "#/parameters/modifiedSince"
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "When specified with a value of **favoriteFlag**, response indicates which returned items are favorites.  favorite -- dashboards, folders, reports, sheets, templates, and workspaces will have the property favorite: true parentObjectFavorite -- attachments, discussions, summary fields, and rows will have the property parentObjectFavorite: true\n",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "scopes",
            "in": "query",
            "required": false,
            "description": "If search fails, try using an array for each type of this comma-separated list of search filters.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "attachments",
                  "cellData",
                  "comments",
                  "folderNames",
                  "reportNames",
                  "sheetNames",
                  "sightNames",
                  "summaryFields",
                  "templateNames",
                  "workspaceNames"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SearchResult object that contains an array of Search objects (maximum 100).",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SearchResult"
                    },
                    {
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error_Generic"
          }
        }
      }
    },
    "/search/sheets/{sheetId}": {
      "parameters": [
        {
          "name": "sheetId",
          "in": "path",
          "schema": {
            "$ref": "#/components/schemas/Int64"
          },
          "required": true,
          "description": "Sheet Id of the sheet being accessed."
        },
        {
          "$ref": "#/components/parameters/authorizationHeader"
        }
      ],
      "get": {
        "summary": "Search Sheet",
        "description": "Gets a list of the user's search results in a sheet based on query. The list contains an abbreviated row object for each search result in a sheet. If you have not used the public API in a while, we will need to provision your data. This could take up to 24 hours so please check back later! *Note* Newly created or recently updated data may not be immediately discoverable via search.",
        "tags": [
          "search"
        ],
        "security": [
          {
            "APIToken": []
          },
          {
            "OAuth2": [
              "READ_SHEETS"
            ]
          }
        ],
        "operationId": "list-search-sheet",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Text with which to perform the search. Enclose in double-quotes for an exact search.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SearchResult object containing an array of SearchResultItem objects in a sheet (maximum 100)",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SearchResult"
                    },
                    {
                      "$ref": "#/components/schemas/SearchResultItemArray"
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error_Generic"
          }
        }
      }
    },
    "/serverinfo": {
      "get": {
        "summary": "Gets application constants.",
        "description": "Gets application constants.",
        "operationId": "serverinfo-get",
        "tags": [
          "serverInfo"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "formats": {
                      "$ref": "#/components/schemas/ServerInfo/properties/formats"
                    },
                    "supportedLocales": {
                      "description": "Array of strings representing all Smartsheet-supported locales.",
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/templates": {
      "parameters": [
        {
          "$ref": "#/components/parameters/authorizationHeader"
        }
      ],
      "get": {
        "summary": "List User-Created Templates",
        "description": "Gets a list of user-created templates that the user has access to.",
        "operationId": "templates-list",
        "tags": [
          "templates"
        ],
        "security": [
          {
            "APIToken": []
          },
          {
            "OAuth2": [
              "READ_SHEETS"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/accessApiLevel"
          },
          {
            "$ref": "#/components/parameters/includeAllBoolean"
          },
          {
            "$ref": "#/components/parameters/pageNumberOptional"
          },
          {
            "$ref": "#/components/parameters/pageSizeOptional"
          }
        ],
        "responses": {
          "200": {
            "description": "SUCCESS",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PagedResult"
                    },
                    {
                      "$ref": "#/components/schemas/TemplateArray"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/templates/public": {
      "parameters": [
        {
          "$ref": "#/components/parameters/authorizationHeader"
        }
      ],
      "get": {
        "summary": "List Public Templates",
        "description": "Gets a list of public templates that the user has access to.",
        "operationId": "templates-listPublic",
        "tags": [
          "templates"
        ],
        "security": [
          {
            "APIToken": []
          },
          {
            "OAuth2": [
              "READ_SHEETS"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/accessApiLevel"
          },
          {
            "$ref": "#/components/parameters/includeAllBoolean"
          },
          {
            "$ref": "#/components/parameters/levelNumber"
          },
          {
            "$ref": "#/components/parameters/pageNumberOptional"
          },
          {
            "$ref": "#/components/parameters/pageSizeOptional"
          }
        ],
        "responses": {
          "200": {
            "description": "SUCCESS",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PagedResult"
                    },
                    {
                      "$ref": "#/components/schemas/TemplateArray"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/token": {
      "post": {
        "summary": "Gets or Refreshes an Access Token",
        "description": "Gets or refreshes an access token, as part of the OAuth process.",
        "operationId": "tokens-getOrRefresh",
        "tags": [
          "token"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Required for POST and PUT requests. Defines the structure for the response.\n",
            "schema": {
              "type": "string",
              "enum": [
                "application/x-www-form-urlencoded"
              ]
            }
          },
          {
            "in": "query",
            "name": "client_id",
            "schema": {
              "type": "string"
            },
            "description": "The client Id you obtained when you registered your app.",
            "required": true
          },
          {
            "in": "query",
            "name": "client_secret",
            "schema": {
              "type": "string"
            },
            "description": "(Optional) Must use either this value or hash. Plain text method for sending this value. For example, client_secret={app_secret}. Encryption occurs at the HTTPS level."
          },
          {
            "in": "query",
            "name": "code",
            "schema": {
              "type": "string"
            },
            "description": "Authorization code acquired after user selects \"Allow\" in the Web login UI."
          },
          {
            "in": "query",
            "name": "grant_type",
            "schema": {
              "type": "string",
              "enum": [
                "authorization_code",
                "refresh_token"
              ]
            },
            "required": true,
            "description": "Must be set to \"authorization_code\"."
          },
          {
            "in": "query",
            "name": "hash",
            "schema": {
              "type": "string"
            },
            "description": "(Optional) Must use either this value or client_secret. SHA-256 hash of your app secret concatenated with a pipe and the authorization code. For example, hash={SHA_256(app_secret|code)}."
          },
          {
            "in": "query",
            "name": "refresh_token",
            "schema": {
              "type": "string"
            },
            "description": "refresh_token value that came with the access token."
          },
          {
            "in": "query",
            "name": "redirect_url",
            "schema": {
              "type": "string"
            },
            "description": "Deprecated. If supplied, must match the redirect URI you registered for your app.",
            "deprecated": true
          }
        ],
        "responses": {
          "200": {
            "description": "An access token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Token"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error_Generic"
          }
        }
      },
      "delete": {
        "summary": "Revoke Access Token",
        "description": "Revokes the access token used to make this request. The access token is no longer valid, and subsequent API calls made using the token fail.",
        "operationId": "tokens-delete",
        "tags": [
          "token"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/authorizationHeader"
          },
          {
            "name": "deleteAllForApiClient",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "The client Id and user Id is fetched based on the token that is used to make this API call. A value of true deletes all tokens associated to the given client Id and user Id.",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "SUCCESS",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1folders~1%7BfolderId%7D/put/responses/200/content/application~1json/schema/allOf/0"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error_Generic"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "acceptHeader": {
        "name": "Accept",
        "in": "header",
        "description": "The Accept request-header field can be used to specify certain media types which are acceptable for the response.",
        "schema": {
          "type": "string"
        },
        "required": false
      },
      "acceptEncodingHeader": {
        "name": "Accept-Encoding",
        "in": "header",
        "description": "Strongly recommended to make sure payload is compressed. Must be set to one of the following values:\n* deflate\n* gzip\n",
        "schema": {
          "type": "string",
          "enum": [
            "deflate",
            "gzip"
          ]
        },
        "required": false
      },
      "accessApiLevel": {
        "name": "accessApiLevel",
        "in": "query",
        "required": false,
        "description": "Allows COMMENTER access for inputs and return values. For backwards-compatibility, VIEWER is the default. For example, to see whether a user has COMMENTER access for a sheet, use accessApiLevel=1.\n",
        "schema": {
          "type": "number",
          "default": 0
        }
      },
      "authorizationHeader": {
        "name": "Authorization",
        "in": "header",
        "description": "API Access Token used to authenticate requests to Smartsheet APIs.\n",
        "schema": {
          "type": "string",
          "example": "Bearer JKlMNOpQ12RStUVwxYZAbcde3F5g6hijklM789"
        }
      },
      "contentTypeHeader": {
        "name": "Content-Type",
        "in": "header",
        "description": "Required for POST and PUT requests. Defines the structure for the request body.\n",
        "schema": {
          "type": "string",
          "default": "application/json"
        }
      },
      "includeAllBoolean": {
        "name": "includeAll",
        "in": "query",
        "required": false,
        "description": "If true, include all results, that is, do not paginate. Mutually exclusive with page and pageSize (they are ignored if includeAll=true is specified).",
        "schema": {
          "type": "boolean",
          "default": false
        }
      },
      "levelNumber": {
        "name": "level",
        "in": "query",
        "required": false,
        "description": "Level of public template types. 0 refers to only Sheet types, 1 refers to all types.",
        "schema": {
          "type": "number",
          "enum": [
            0,
            1
          ],
          "default": 0
        }
      },
      "modifiedSince": {
        "name": "modifiedSince",
        "in": "query",
        "required": false,
        "description": "When specified with a date and time value, response only includes the objects that are modified on or after the date and time specified. If you need to keep track of frequent changes, it may be more useful to use Get Sheet Version.",
        "schema": {
          "$ref": "#/components/schemas/Date"
        }
      },
      "numericDates": {
        "name": "numericDates",
        "in": "query",
        "schema": {
          "type": "boolean",
          "default": false
        },
        "description": "You can optionally choose to receive and send dates/times in numeric format, as milliseconds since the UNIX epoch (midnight on January 1, 1970 in UTC time), using the query string parameter numericDates with a value of true. This query parameter works for any API request."
      },
      "pageNumberOptional": {
        "name": "page",
        "in": "query",
        "required": false,
        "description": "Which page to return. Defaults to 1 if not specified. If you specify a value greater than the total number of pages, the last page of results is returned.",
        "schema": {
          "type": "number",
          "default": 1
        }
      },
      "pageSizeOptional": {
        "name": "pageSize",
        "in": "query",
        "required": false,
        "description": "The maximum number of items to return per page. Unless otherwise stated for a specific endpoint, defaults to 100. If only page is specified, defaults to a page size of 100. For reports, the default is 100 rows. If you need larger sets of data from your report, returns a maximum of 10,000 rows per request.",
        "schema": {
          "type": "number",
          "default": 100
        }
      }
    },
    "responses": {
      "Error_Generic": {
        "description": "Generic Error Payload",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Error_401": {
        "description": "Unauthorized.  See Smartsheet Error Code and Message for details.\n",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Error_404": {
        "description": "Not Found.  See Smartsheet Error Code and Message for details.\n",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Error_500": {
        "description": "Internal Server Error.  See Smartsheet Error Code and Message for details.\n",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "schemas": {
      "AbstractRow": {
        "type": "object",
        "properties": {
          "sheetId": {
            "$ref": "#/components/schemas/Int64"
          },
          "rowNumber": {
            "$ref": "#/components/schemas/Int64"
          },
          "parentRowNumber": {
            "$ref": "#/components/schemas/Int64"
          },
          "cells": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Cell"
            }
          },
          "discussions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Discussion"
            }
          },
          "attachments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Attachment"
            }
          },
          "columns": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Column"
            }
          },
          "createdAt": {
            "type": "date",
            "format": "int64"
          },
          "modifiedAt": {
            "type": "date",
            "format": "int64"
          },
          "expanded": {
            "type": "boolean"
          },
          "version": {
            "type": "integer",
            "format": "int32"
          },
          "accessLevel": {
            "$ref": "#/components/schemas/AccessLevel"
          },
          "locked": {
            "type": "boolean",
            "default": false
          },
          "lockedForUser": {
            "type": "boolean",
            "default": false
          },
          "format": {
            "$ref": "#/components/schemas/Format"
          },
          "parentId": {
            "$ref": "#/components/schemas/Int64"
          },
          "siblingId": {
            "$ref": "#/components/schemas/Int64"
          },
          "permalink": {
            "type": "string"
          },
          "filteredOut": {
            "type": "boolean"
          },
          "inCriticalPath": {
            "type": "boolean"
          },
          "conditionalFormat": {
            "$ref": "#/components/schemas/Format"
          },
          "toTop": {
            "type": "boolean"
          },
          "toBottom": {
            "type": "boolean"
          },
          "above": {
            "type": "boolean"
          },
          "indent": {
            "type": "integer",
            "format": "int32"
          },
          "outdent": {
            "type": "integer",
            "format": "int32"
          },
          "createdBy": {
            "$ref": "#/components/schemas/User"
          },
          "modifiedBy": {
            "$ref": "#/components/schemas/User"
          }
        }
      },
      "AccessLevel": {
        "type": "string",
        "enum": [
          "ADMIN",
          "COMMENTER",
          "EDITOR",
          "EDITOR_SHARE",
          "OWNER",
          "VIEWER"
        ]
      },
      "Account": {
        "type": "object",
        "properties": {
          "id": {
            "description": "Account Id.",
            "type": "number"
          },
          "name": {
            "description": "Account name.",
            "type": "string"
          }
        }
      },
      "AlternateEmail": {
        "type": "object",
        "properties": {
          "id": {
            "description": "AlternateEmail Id.",
            "type": "number"
          },
          "confirmed": {
            "description": "Indicates whether the alternate email address has been confirmed.",
            "type": "boolean"
          },
          "email": {
            "description": "User's alternate email address.",
            "type": "string"
          }
        }
      },
      "AttachmentArray": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Attachment"
        }
      },
      "Attachment": {
        "description": "Attachment Object",
        "type": "object",
        "properties": {
          "id": {
            "description": "Attachment Id.",
            "$ref": "#/components/schemas/Int64"
          },
          "parentId": {
            "description": "The Id of the parent.",
            "$ref": "#/components/schemas/Int64"
          },
          "attachmentType": {
            "description": "Attachment type. Note--Dropbox, Egnyte, and Evernote are not supported for Smartsheet.gov accounts.",
            "type": "string",
            "enum": [
              "BOX_COM",
              "DROPBOX",
              "EGNYTE",
              "EVERNOTE",
              "FILE",
              "GOOGLE_DRIVE",
              "LINK",
              "ONEDRIVE",
              "TRELLO"
            ]
          },
          "attachmentSubType": {
            "description": "Attachment sub type. Note--Folder type is for EGNYTE values and the rest are GOOGLE_DRIVE values.",
            "type": "string",
            "enum": [
              "DOCUMENT",
              "DRAWING",
              "FOLDER",
              "PDF",
              "PRESENTATION",
              "SPREADSHEET"
            ]
          },
          "mimeType": {
            "description": "Attachment MIME type.",
            "type": "string"
          },
          "parentType": {
            "description": "The type of object the attachment belongs to.",
            "type": "string",
            "enum": [
              "COMMENT",
              "PROOF",
              "ROW",
              "SHEET"
            ]
          },
          "createdAt": {
            "$ref": "#/components/schemas/Date"
          },
          "createdBy": {
            "$ref": "#/components/schemas/NameAndEmail"
          },
          "name": {
            "description": "Attachment name.",
            "type": "string"
          },
          "sizeInKb": {
            "description": "The size of the file, if the attachmentType is FILE.",
            "type": "integer"
          },
          "url": {
            "description": "Attachment temporary URL (files only).",
            "type": "string"
          },
          "urlExpiresInMillis": {
            "description": "Attachment temporary URL time to live (files only).",
            "type": "integer"
          }
        }
      },
      "NameAndEmail": {
        "type": "object",
        "description": "`User` object containing `name` and `email` of the user who created this attachment.\n",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": "string",
            "readOnly": true
          }
        }
      },
      "AutomationAction": {
        "type": "object",
        "properties": {
          "includedColumnIds": {
            "description": "Specifies which columns to include in message.",
            "$ref": "#/components/schemas/Int64Array"
          },
          "type": {
            "type": "string",
            "enum": [
              "APPROVAL_REQUEST_ACTION",
              "NOTIFICATION_ACTION",
              "UPDATE_REQUEST_ACTION"
            ]
          },
          "frequency": {
            "type": "string",
            "enum": [
              "DAILY",
              "HOURLY",
              "IMMEDIATELY",
              "WEEKLY"
            ]
          },
          "includeAllColumns": {
            "description": "If true, all columns are included in email contents.",
            "type": "boolean",
            "default": true
          },
          "includeAttachments": {
            "description": "If true, all attachments are included in email contents.",
            "type": "string"
          },
          "includeDiscussions": {
            "description": "If true, all discussions are included in email contents.",
            "type": "boolean"
          },
          "message": {
            "description": "Email body.",
            "type": "string"
          },
          "subject": {
            "description": "Email subject line.",
            "type": "string"
          }
        },
        "oneOf": [
          {
            "properties": {
              "notifyAllSharedUsers": {
                "description": "If true, notifications are sent to all users shared to the sheet.",
                "type": "boolean"
              }
            }
          },
          {
            "properties": {
              "recipients": {
                "type": "array",
                "items": {
                  "description": "Specifies the recipient of an email. The recipient may be either an individual or a group. To specify an individual, set the email attribute; to specify a group, set the groupId attribute. Either email and groupId may be set, but not both.\n",
                  "$ref": "#/components/schemas/EmailOrGroupId"
                }
              }
            }
          },
          {
            "properties": {
              "recipientColumnIds": {
                "description": "Array of column Ids from which to collect email recipients.",
                "$ref": "#/components/schemas/Int64Array"
              }
            }
          }
        ]
      },
      "AutomationRule": {
        "type": "object",
        "properties": {
          "id": {
            "description": "AutomationRule Id.",
            "$ref": "#/components/schemas/Int64"
          },
          "action": {
            "description": "An [AutomationAction object](#section/AutomationAction-Object) containing information for this rule, such as type, recipients, and frequency."
          },
          "createdAt": {
            "description": "A timestamp of when the rule was originally added.",
            "allOf": [
              {
                "$ref": "#/components/schemas/Date"
              }
            ]
          },
          "createdBy": {
            "description": "`User` object containing `name` and `email` of the creator of this rule.\n",
            "allOf": [
              {
                "$ref": "#/components/schemas/NameAndEmail"
              }
            ]
          },
          "disabledReason": {
            "description": "Machine-readable reason a rule is disabled:\n* `APPROVAL_COLUMN_MISSING` This rule's approval status column has been deleted.\n\n* `APPROVAL_COLUMN_WRONG_TYPE` The approval column must be a dropdown column.\n\n* `AUTOMATION_NOT_ENABLED_FOR_ORG` To create or edit automated actions,\nyou need to upgrade your organization account to a Business or Enterprise plan.\n\n* `COLUMN_MISSING` A column referenced by this rule has been deleted.\n\n* `COLUMN_TYPE_INCOMPATIBLE` A column referenced by this rule has been changed to an incompatible column type.\n\n* `NO_POTENTIAL_RECIPIENTS` This rule has no recipients that will be able to receive\nnotifications based on this sheet's permission settings or this account's approved domain sharing list.\n\n* `NO_VALID_SELECTED_COLUMNS` All selected columns for this rule have been deleted.\n",
            "type": "string",
            "enum": [
              "APPROVAL_COLUMN_MISSING",
              "APPROVAL_COLUMN_WRONG_TYPE",
              "AUTOMATION_NOT_ENABLED_FOR_ORG",
              "COLUMN_MISSING",
              "COLUMN_TYPE_INCOMPATIBLE",
              "NO_POTENTIAL_RECIPIENTS",
              "NO_VALID_SELECTED_COLUMNS"
            ]
          },
          "disabledReasonText": {
            "description": "Descriptive reason a rule is disabled.",
            "type": "string"
          },
          "enabled": {
            "description": "If true, indicates that the rule is active.",
            "type": "boolean"
          },
          "modifiedAt": {
            "description": "The datetime for when the change was made to the rule.",
            "$ref": "#/components/schemas/Date"
          },
          "modifiedBy": {
            "description": "`User` object containing the `name` and `email` of the user that made the change.\n",
            "$ref": "#/components/schemas/NameAndEmail"
          },
          "name": {
            "description": "Rule name as shown in the UI.",
            "type": "string"
          },
          "userCanModify": {
            "description": "If true, indicates that the current user can modify the rule.",
            "type": "boolean"
          }
        }
      },
      "AutoNumberFormat": {
        "type": "object",
        "description": "Object that describes how the the System Column type of \"AUTO_NUMBER\" is auto-generated.",
        "properties": {
          "fill": {
            "description": "Indicates zero-padding. Must be between 0 and 10 \"0\" (zero) characters.",
            "type": "string"
          },
          "prefix": {
            "description": "The prefix. Can include the date tokens:\n  * {DD}\n  * {MM}\n  * {YY}\n  * {YYYY}\n",
            "type": "string"
          },
          "startingNumber": {
            "description": "The starting number for the auto-id.",
            "type": "number"
          },
          "suffix": {
            "description": "The suffix. Can include the date tokens:\n  * {DD}\n  * {MM}\n  * {YY}\n  * {YYYY}\n",
            "type": "string"
          }
        }
      },
      "BulkItemFailure": {
        "type": "object",
        "properties": {
          "rowId": {
            "description": "The Id of the row that failed. Applicable only to bulk row operations.",
            "$ref": "#/components/schemas/Int64",
            "nullable": true
          },
          "error": {
            "description": "The error caused by the failed item.",
            "type": "object",
            "properties": {
              "refId": {
                "description": "The Id of the specific error occurrence. Please include this information when contacting Smartsheet support.",
                "type": "string"
              },
              "errorCode": {
                "description": "Custom error code from Smartsheet. See the complete [Error Code List](../#section/Error-Code-List).",
                "type": "number"
              },
              "message": {
                "description": "Descriptive error message.",
                "type": "string"
              }
            }
          },
          "index": {
            "description": "The index of the failed item in the bulk request array.",
            "type": "number"
          }
        }
      },
      "Callback": {
        "type": "object",
        "properties": {
          "scopeObjectId": {
            "$ref": "#/components/schemas/Int64",
            "description": "Id of the object that corresponds to scope.",
            "readOnly": true
          },
          "webhookId": {
            "$ref": "#/components/schemas/Int64",
            "description": "Id of the corresponding webhook."
          },
          "events": {
            "description": "Array of CallbackEvent objects",
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "$ref": "#/components/schemas/Int64",
                  "description": "Id of the object that corresponds to objectType. Omitted if objectType is cell."
                },
                "columnId": {
                  "$ref": "#/components/schemas/Int64",
                  "description": "Only present if objectType is cell. The Id of the column where the cell is located.",
                  "nullable": true
                },
                "rowid": {
                  "$ref": "#/components/schemas/Int64",
                  "description": "Only present if objectType is cell. The Id of the row where the cell is located.",
                  "nullable": true
                },
                "userid": {
                  "$ref": "#/components/schemas/Int64",
                  "description": "The user Id of the person who caused this event."
                },
                "objectType": {
                  "description": "Type of object for which event occurred.",
                  "type": "string",
                  "enum": [
                    "attachment",
                    "cell",
                    "column",
                    "comment",
                    "discussion",
                    "row",
                    "sheet"
                  ]
                },
                "changeAgent": {
                  "type": "string",
                  "description": "A comma-delimited list of values that uniquely identify the agents responsible for making the changes that caused the callback to occur. Only present if the change agent included the Smartsheet-Change-Agent header in the API request that changed data in Smartsheet. For more information, see [Preventing Infinite Loops](../../tag/webhooksDescription#section/Preventing-Infinite-Loops)."
                },
                "eventType": {
                  "type": "string",
                  "description": "Type of Event that occurred.",
                  "enum": [
                    "created",
                    "deleted",
                    "updated"
                  ]
                },
                "timestamp": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Time that this event occurred. A callback may contain events with different timestamps, as multiple separate events may be aggregated into a single callback request."
                }
              }
            }
          },
          "newWebhookStatus": {
            "type": "string",
            "description": "New status of the corresponding webhook. Only returned for webhook status change callbacks (null for event callbacks).",
            "example": "ENABLED"
          },
          "nonce": {
            "type": "string",
            "description": "Random value that is distinct for each callback."
          },
          "scope": {
            "type": "string",
            "description": "Scope of the webhook. Currently, the only supported value is sheet.",
            "enum": [
              "sheet"
            ]
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Time that the callback was generated."
          }
        }
      },
      "CallbackEvent": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/Int64",
            "description": "Id of the object that corresponds to objectType. Omitted if objectType is cell."
          },
          "columnId": {
            "$ref": "#/components/schemas/Int64",
            "description": "Only present if objectType is cell. The Id of the column where the cell is located.",
            "nullable": true
          },
          "rowid": {
            "$ref": "#/components/schemas/Int64",
            "description": "Only present if objectType is cell. The Id of the row where the cell is located.",
            "nullable": true
          },
          "userid": {
            "$ref": "#/components/schemas/Int64",
            "description": "The user Id of the person who caused this event."
          },
          "objectType": {
            "description": "Type of object for which event occurred.",
            "type": "string",
            "enum": [
              "attachment",
              "cell",
              "column",
              "comment",
              "discussion",
              "row",
              "sheet"
            ]
          },
          "changeAgent": {
            "type": "string",
            "description": "A comma-delimited list of values that uniquely identify the agents responsible for making the changes that caused the callback to occur. Only present if the change agent included the Smartsheet-Change-Agent header in the API request that changed data in Smartsheet. For more information, see [Preventing Infinite Loops](../../tag/webhooksDescription#section/Preventing-Infinite-Loops)."
          },
          "eventType": {
            "type": "string",
            "description": "Type of Event that occurred.",
            "enum": [
              "created",
              "deleted",
              "updated"
            ]
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Time that this event occurred. A callback may contain events with different timestamps, as multiple separate events may be aggregated into a single callback request."
          }
        }
      },
      "CellArray": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Cell"
        }
      },
      "Cell": {
        "type": "object",
        "properties": {
          "columnId": {
            "$ref": "#/components/schemas/Int64",
            "description": "The Id of the column that the cell is located in."
          },
          "columnType": {
            "type": "string",
            "description": "Only returned if the include query string parameter contains **columnType**."
          },
          "conditionalFormat": {
            "type": "string",
            "description": "The format descriptor describing this cell's conditional format. Only returned if the include query string parameter contains **format** and this cell has a conditional format applied."
          },
          "displayValue": {
            "type": "string",
            "description": "Visual representation of cell contents, as presented to the user in the UI."
          },
          "format": {
            "type": "string",
            "description": "The format descriptor. Only returned if the include query string parameter contains **format** and this cell has a non-default format applied."
          },
          "formula": {
            "type": "string",
            "description": "The formula for a cell, if set, for instance **=COUNTM([Assigned To]3)**. Note that calculation errors or problems with a formula do not cause the API call to return an error code. Instead, the response contains the same value as in the UI, such as **cell.value = \"#CIRCULAR REFERENCE\"**."
          },
          "hyperlink": {
            "$ref": "#/components/schemas/Hyperlink"
          },
          "image": {
            "$ref": "#/components/schemas/Image"
          },
          "linkInFromCell": {
            "$ref": "#/components/schemas/CellLink"
          },
          "linksOutToCells": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CellLink"
            }
          },
          "objectValue": {
            "$ref": "#/components/schemas/CellObjectValue"
          },
          "overrideValidation": {
            "type": "boolean",
            "description": "(Admin only) Indicates whether the cell value can contain a value outside of the validation limits (value = **true**). When using this parameter, you must also set **strict** to **false** to bypass value type checking. This property is honored for POST or PUT actions that update rows."
          },
          "strict": {
            "type": "boolean",
            "description": "Set to **false** to enable lenient parsing. Defaults to **true**. You can specify this attribute in a request, but it is never present in a response."
          },
          "value": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              },
              {
                "type": "boolean"
              }
            ],
            "description": "A string, number, or a Boolean value -- depending on the cell type and the data in the cell. Cell values larger than 4000 characters are silently truncated. An empty cell returns no value."
          }
        }
      },
      "CellDataItem": {
        "type": "object",
        "properties": {
          "columnId": {
            "description": "Column Id for each item.",
            "$ref": "#/components/schemas/Int64"
          },
          "rowId": {
            "description": "Row Id for each item.",
            "$ref": "#/components/schemas/Int64"
          },
          "sheetId": {
            "description": "Sheet Id for each item.",
            "$ref": "#/components/schemas/Int64"
          },
          "objectValue": {
            "description": "The type of data returned depends on the cell type and the data in the cell.",
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "number"
              },
              {
                "type": "string"
              }
            ]
          },
          "cell": {
            "$ref": "#/components/schemas/Cell"
          },
          "dataSource": {
            "type": "string",
            "enum": [
              "CELL",
              "SUMMARY_FIELD"
            ]
          },
          "inheritCellValue": {
            "description": "Specifies if valueFormat is inherited from the underlying cell value",
            "type": "boolean"
          },
          "label": {
            "description": "Label for the data point. This is either the column name or a user-provided string.",
            "type": "string"
          },
          "labelFormat": {
            "description": "Format description for label.",
            "type": "string",
            "example": ",,1,1,,,,,,,,,,,,,"
          },
          "labelFont": {
            "$ref": "#/components/schemas/LabelFont"
          },
          "order": {
            "description": "The display order for the CellDataItem.",
            "type": "number"
          },
          "profileField": {
            "type": "object",
            "properties": {
              "id": {
                "description": "SummaryField Id.",
                "type": "number"
              },
              "contactOptions": {
                "description": "Array of ContactOption objects to specify a pre-defined list of values for the column. Column type must be CONTACT_LIST.",
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Column/properties/contactOptions/items"
                }
              },
              "createdAt": {
                "$ref": "#/components/schemas/Date"
              },
              "createdBy": {
                "description": "User object containing name and email of the creator of this summary field.",
                "type": "object",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/NameAndEmail"
                  }
                ]
              },
              "displayValue": {
                "description": "Visual representation of cell contents, as presented to the user in the UI.",
                "type": "string"
              },
              "format": {
                "description": "The format descriptor. Only returned if the include query string parameter contains format and this column has a non-default format applied to it.",
                "type": "string"
              },
              "formula": {
                "description": "The formula for a cell, if set.",
                "type": "string"
              },
              "hyperlink": {
                "$ref": "#/components/schemas/Cell/properties/hyperlink"
              },
              "image": {
                "$ref": "#/components/schemas/Cell/properties/image"
              },
              "index": {
                "description": "Field index or position. This number is zero-based.",
                "type": "number"
              },
              "locked": {
                "description": "Indicates whether the field is locked.",
                "type": "boolean"
              },
              "lockedForUser": {
                "description": "Indicates whether the field is locked for the requesting user.",
                "type": "boolean"
              },
              "modifiedAt": {
                "$ref": "#/components/schemas/Date"
              },
              "modifiedBy": {
                "description": "User object containing name and email of the user who most recently modified this summary field.",
                "type": "object",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/NameAndEmail"
                  }
                ]
              },
              "objectValue": {
                "$ref": "#/components/schemas/CellObjectValue"
              },
              "options": {
                "description": "When applicable for PICKLIST column type. Array of the options available for the field.",
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "symbol": {
                "description": "When applicable for PICKLIST column type.",
                "type": "string"
              },
              "title": {
                "description": "Arbitrary name, must be unique within summary.",
                "type": "string"
              },
              "type": {
                "type": "string",
                "enum": [
                  "ABSTRACT_DATETIME",
                  "CHECKBOX",
                  "CONTACT_LIST",
                  "DATE",
                  "DATETIME",
                  "DURATION",
                  "MULTI_CONTACT_LIST",
                  "MULTI_PICKLIST",
                  "PICKLIST",
                  "PREDECESSOR",
                  "TEXT_NUMBER"
                ]
              },
              "validation": {
                "description": "Indicates whether summary field values are restricted to the type.",
                "type": "boolean"
              }
            }
          },
          "valueFormat": {
            "description": "Format description for value.",
            "type": "string",
            "example": ",,1,1,,,,,,,,,,,,,"
          },
          "valueFont": {
            "$ref": "#/components/schemas/LabelFont"
          }
        }
      },
      "CellHistory": {
        "type": "object",
        "properties": {
          "modifiedAt": {
            "$ref": "#/components/schemas/Date"
          },
          "modifiedBy": {
            "description": "User object containing the name and email of the user that made the change.",
            "type": "object",
            "allOf": [
              {
                "$ref": "#/components/schemas/NameAndEmail"
              }
            ]
          }
        }
      },
      "CellLink": {
        "type": "object",
        "properties": {
          "columnId": {
            "type": "integer",
            "format": "int64",
            "description": "Column Id of the linked cell."
          },
          "rowId": {
            "type": "integer",
            "format": "int64",
            "description": "Row Id of the linked cell."
          },
          "sheetId": {
            "type": "integer",
            "format": "int64",
            "description": "Sheet Id of the sheet that the linked cell belongs to."
          },
          "sheetName": {
            "type": "string",
            "description": "Sheet name of the linked cell."
          },
          "status": {
            "type": "string",
            "enum": [
              "BLOCKED",
              "BROKEN",
              "CIRCULAR",
              "DISABLED",
              "INACCESSIBLE",
              "INVALID",
              "NOT_SHARED",
              "OK"
            ],
            "description": "* `BLOCKED` One of several other values indicating unusual error conditions.\n* `BROKEN` The row or sheet linked to was deleted.\n* `CIRCULAR` One of several other values indicating unusual error conditions.\n* `DISABLED` One of several other values indicating unusual error conditions.\n* `INACCESSIBLE` The sheet linked to cannot be viewed by this user.\n* `INVALID` One of several other values indicating unusual error conditions.\n* `NOT_SHARED` One of several other values indicating unusual error conditions.\n* `OK` The link is in a good state.\n"
          }
        }
      },
      "CellLinkWidgetContent": {
        "type": "object",
        "title": "Metric",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "METRIC",
              "SHEETSUMMARY"
            ]
          },
          "sheetId": {
            "description": "Sheet Id from which the cell data originates.",
            "type": "integer",
            "format": "int64"
          },
          "cellData": {
            "$ref": "#/components/schemas/CellDataItem"
          },
          "columns": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Column"
            }
          },
          "hyperlink": {
            "type": "object",
            "properties": {
              "interactionType": {
                "description": "Specifies what happens when a user clicks the widget. The type will determine what other properties are needed.\n * DISTI_COPY - a distribution link, only available if org has distribution\nlinks enabled.\n * NONE - do nothing, no other attribute required.\n * SMARTSHEET_ITEM - open a Smartsheet item that is not the SOURCE_SHEET,\nmust also have one of the following attributes:\n    * dashboardId\n    * folderId\n    * reportId\n    * sheetId\n    * workspaceId\n * SOURCE_SHEET - open the container where the widget data comes from,\nno other attribute required.\n * WEB -  launch the URL, must also have url attribute.\n",
                "type": "string",
                "enum": [
                  "DISTI_COPY",
                  "NONE",
                  "SMARTSHEET_ITEM",
                  "SOURCE_SHEET",
                  "WEB"
                ]
              },
              "folderId": {
                "description": "If interactionType = SMARTSHEET_ITEM this is the folder to open.",
                "type": "integer",
                "format": "int64"
              },
              "reportId": {
                "description": "If interactionType = SMARTSHEET_ITEM this is the report to open.",
                "type": "integer",
                "format": "int64"
              },
              "sheetId": {
                "description": "If interactionType = SMARTSHEET_ITEM this is the sheet to open.",
                "type": "integer",
                "format": "int64"
              },
              "sightId": {
                "description": "If interactionType = SMARTSHEET_ITEM this is the dashboard to open.",
                "type": "integer",
                "format": "int64"
              },
              "url": {
                "description": "If interactionType = WEB this is the URL to launch.",
                "type": "string"
              },
              "workspaceId": {
                "description": "If interactionType = SMARTSHEET_ITEM this is the workspace to open.",
                "type": "integer",
                "format": "int64"
              }
            }
          }
        }
      },
      "CellObjectValue": {
        "description": "The base object for values found in the **Cell.objectValue** attribute. Its **objectType** attribute indicates the type of the object. This object itself is not used directly.",
        "required": [
          "objectType"
        ],
        "properties": {
          "objectType": {
            "type": "string"
          }
        },
        "oneOf": [
          {
            "description": "Object representing a calculated datetime",
            "type": "object",
            "title": "AbstractDatetimeObjectValue",
            "properties": {
              "objectType": {
                "type": "string",
                "enum": [
                  "ABSTRACT_DATETIME"
                ]
              },
              "value": {
                "description": "Datetime, in the **date-time** format defined by [RFC 3339, section 5.6](https://tools.ietf.org/html/rfc3339#section-5.6)",
                "type": "string",
                "format": "date-time"
              }
            },
            "example": {
              "objectType": "ABSTRACT_DATETIME",
              "value": "2025-03-03T16:59:59"
            }
          },
          {
            "description": "Object representing a checkbox",
            "type": "object",
            "title": "CheckboxObjectValue",
            "properties": {
              "objectType": {
                "type": "string",
                "enum": [
                  "CHECKBOX"
                ]
              },
              "value": {
                "description": "true if checked; false otherwise",
                "type": "boolean"
              }
            },
            "example": {
              "objectType": "CHECKBOX",
              "value": true
            }
          },
          {
            "$ref": "#/components/schemas/CellObjectValue_Contact"
          },
          {
            "description": "Object representing a date",
            "type": "object",
            "title": "DateObjectValue",
            "properties": {
              "objectType": {
                "type": "string",
                "enum": [
                  "DATE"
                ]
              },
              "value": {
                "description": "Date in the **full-date** format defined by [RFC 3339, section 5.6](https://tools.ietf.org/html/rfc3339#section-5.6)",
                "type": "string",
                "format": "date"
              }
            },
            "example": {
              "objectType": "DATE",
              "value": "2025-01-14"
            }
          },
          {
            "description": "Object representing a datetime",
            "type": "object",
            "title": "DatetimeObjectValue",
            "properties": {
              "objectType": {
                "type": "string",
                "enum": [
                  "DATETIME"
                ]
              },
              "value": {
                "description": "Datetime, in the **date-time** format defined by [RFC 3339, section 5.6](https://tools.ietf.org/html/rfc3339#section-5.6)",
                "type": "string",
                "format": "date-time"
              }
            },
            "example": {
              "objectType": "DATETIME",
              "value": "2025-03-03T16:59:59"
            }
          },
          {
            "description": "Object representing a duration in days",
            "type": "object",
            "title": "DurationObjectValue",
            "properties": {
              "objectType": {
                "type": "string",
                "enum": [
                  "DURATION"
                ]
              },
              "days": {
                "description": "Number of days",
                "type": "number",
                "format": "float"
              }
            },
            "example": {
              "objectType": "DURATION",
              "days": 29
            }
          },
          {
            "description": "Object containing a list of Contacts",
            "type": "object",
            "title": "MultiContactObjectValue",
            "properties": {
              "objectType": {
                "type": "string",
                "enum": [
                  "MULTI_CONTACT"
                ]
              },
              "value": {
                "description": "List of Contacts",
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CellObjectValue_Contact"
                }
              }
            }
          },
          {
            "description": "Object containing a list of strings to choose from",
            "type": "object",
            "title": "MultiPicklistObjectValue",
            "properties": {
              "objectType": {
                "type": "string",
                "enum": [
                  "MULTI_PICKLIST"
                ]
              },
              "value": {
                "description": "List of strings to choose from",
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          {
            "$ref": "#/components/schemas/ObjectValue/oneOf/8"
          }
        ]
      },
      "CellObjectValue_Contact": {
        "description": "Object containing a Contact",
        "type": "object",
        "title": "ContactObjectValue",
        "properties": {
          "objectType": {
            "type": "string",
            "enum": [
              "CONTACT"
            ]
          },
          "email": {
            "description": "Email address of the Contact",
            "type": "string",
            "format": "email"
          },
          "name": {
            "description": "Name of the Contact",
            "type": "string"
          },
          "imageId": {
            "description": "ID of an image associated with the Contact",
            "type": "string",
            "example": "1234!_qwer!_5667zxcvQWER!_ASDF"
          }
        }
      },
      "ChartWidgetTitleInfo": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "ABSTRACT_DATE_TIME",
              "CHECKBOX",
              "CONTACT_LIST",
              "DATE",
              "DATE_TIME",
              "DURATION",
              "MULTI_CONTACT_LIST",
              "MULTI_PICKLIST",
              "PICKLIST",
              "PREDECESSOR",
              "TEXT_NUMBER"
            ]
          }
        }
      },
      "ChartWidgetContent": {
        "type": "object",
        "title": "Chart",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "CHART"
            ]
          },
          "reportId": {
            "description": "Report Id denoting container source, if applicable.",
            "$ref": "#/components/schemas/Int64"
          },
          "sheetId": {
            "description": "Sheet Id denoting container source, if applicable.",
            "$ref": "#/components/schemas/Int64"
          },
          "axes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "location": {
                  "description": "Describes location of the axis.",
                  "type": "string",
                  "enum": [
                    "BOTTOM",
                    "LEFT",
                    "NONE",
                    "RIGHT",
                    "TOP"
                  ]
                },
                "title": {
                  "description": "Axis title.",
                  "type": "string"
                },
                "titleInfo": {
                  "$ref": "#/components/schemas/ChartWidgetTitleInfo"
                },
                "axisTitleFont": {
                  "$ref": "#/components/schemas/LabelFont"
                },
                "axisLabelFormat": {
                  "description": "Describes the axis format (see [Formatting](/section/Formatting)).",
                  "type": "string",
                  "example": ",,,,,,,,36,,,,,,,,"
                },
                "axisLabelFont": {
                  "$ref": "#/components/schemas/LabelFont"
                },
                "includeZero": {
                  "description": "Includes 0 in the axis.",
                  "type": "boolean"
                }
              }
            }
          },
          "hyperlink": {
            "$ref": "#/components/schemas/Hyperlink"
          },
          "includedColumnIds": {
            "description": "Array of column Ids if the range was selected through the UI.",
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            }
          },
          "legend": {
            "type": "object",
            "properties": {
              "location": {
                "type": "string",
                "enum": [
                  "BOTTOM",
                  "LEFT",
                  "NONE",
                  "RIGHT",
                  "TOP"
                ]
              },
              "legendFormat": {
                "type": "string",
                "description": "The format descriptor (see [Formatting](/section/Formatting)). Only returned if the legend has a non-default format applied to it.",
                "example": ",,1,1,,,,,,,,,,,,,"
              },
              "legendFont": {
                "$ref": "#/components/schemas/LabelFont"
              }
            }
          },
          "selectionRanges": {
            "type": "array",
            "items": {
              "description": "Defines a block of cells in a sheet.",
              "type": "object",
              "properties": {
                "sourceColumnId1": {
                  "description": "Defines beginning edge of range when specifying one or more columns.",
                  "type": "integer",
                  "format": "int64"
                },
                "sourceColumnId2": {
                  "description": "Defines ending edge of range when specifying one or more columns.",
                  "type": "integer",
                  "format": "int64"
                },
                "sourceRowId1": {
                  "description": "Defines beginning edge of range when specifying one or more rows.",
                  "type": "integer",
                  "format": "int64"
                },
                "sourceRowId2": {
                  "description": "Defines ending edge of range when specifying one or more rows.",
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          },
          "series": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string"
                },
                "titleInfo": {
                  "$ref": "#/components/schemas/ChartWidgetTitleInfo"
                },
                "seriesTitleFormat": {
                  "type": "string",
                  "description": "Series title format (see [Formatting](/section/Formatting))."
                },
                "seriesType": {
                  "type": "string",
                  "enum": [
                    "AREA",
                    "BAR",
                    "COLUMN",
                    "LINE",
                    "PIE",
                    "SCATTER"
                  ]
                },
                "dataLabels": {
                  "type": "object",
                  "properties": {
                    "labelType": {
                      "type": "string",
                      "enum": [
                        "NONE",
                        "PERCENT",
                        "VALUE"
                      ]
                    }
                  }
                },
                "tooltips": {
                  "type": "object",
                  "properties": {
                    "labelType": {
                      "type": "string",
                      "enum": [
                        "NONE",
                        "PERCENT",
                        "X_SERIES_Y",
                        "X_Y_PERCENT",
                        "Y",
                        "Y_PERCENT"
                      ]
                    }
                  }
                },
                "lineType": {
                  "type": "string",
                  "enum": [
                    "CURVED",
                    "STEPPED",
                    "STRAIGHT"
                  ]
                },
                "holeSize": {
                  "type": "number"
                },
                "isFilled": {
                  "type": "boolean"
                },
                "isHalf": {
                  "type": "boolean"
                },
                "isStacked": {
                  "type": "boolean"
                },
                "xFormat": {
                  "type": "string",
                  "description": "The format descriptor (see [Formatting](/section/Formatting)). Only returned if the series has a non-default format applied to it.",
                  "example": ",,1,1,,,,,,,,,,,,,"
                },
                "yFormat": {
                  "type": "string",
                  "description": "The format descriptor (see [Formatting](/section/Formatting)). Only returned if the series has a non-default format applied to it.",
                  "example": ",,1,1,,,,,,,,,,,,,"
                },
                "color": {
                  "type": "string"
                },
                "axisLocationX": {
                  "type": "string",
                  "enum": [
                    "BOTTOM",
                    "LEFT",
                    "NONE",
                    "RIGHT",
                    "TOP"
                  ]
                },
                "axisLocationY": {
                  "type": "string",
                  "enum": [
                    "BOTTOM",
                    "LEFT",
                    "NONE",
                    "RIGHT",
                    "TOP"
                  ]
                },
                "yColumnInfo": {
                  "$ref": "#/components/schemas/ChartWidgetTitleInfo"
                },
                "xColumnInfo": {
                  "$ref": "#/components/schemas/ChartWidgetTitleInfo"
                },
                "seriesSelectionOrder": {
                  "type": "string",
                  "enum": [
                    "COLUMNS",
                    "ROWS"
                  ]
                },
                "seriesData": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "x": {
                        "type": "number"
                      },
                      "y": {
                        "type": "number"
                      },
                      "xFormat": {
                        "type": "string",
                        "description": "The format descriptor (see [Formatting](/section/Formatting)). Only returned if the series has a non-default format applied to it.",
                        "example": ",,1,1,,,,,,,,,,,,,"
                      },
                      "yFormat": {
                        "type": "string",
                        "description": "The format descriptor (see [Formatting](/section/Formatting)). Only returned if the series has a non-default format applied to it.",
                        "example": ",,1,1,,,,,,,,,,,,,"
                      },
                      "color": {
                        "type": "string"
                      }
                    }
                  }
                },
                "selectionRanges": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ChartWidgetContent/properties/selectionRanges/items"
                  }
                }
              }
            }
          },
          "verticalGridLines": {
            "type": "object",
            "properties": {
              "lineStyle": {
                "type": "string",
                "enum": [
                  "SOLID"
                ]
              }
            }
          },
          "horizontalGridLines": {
            "$ref": "#/components/schemas/ChartWidgetContent/properties/verticalGridLines"
          }
        }
      },
      "ColumnArray": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Column"
        }
      },
      "Column": {
        "type": "object",
        "properties": {
          "autoNumberFormat": {
            "type": "object",
            "description": "Object that describes how the the System Column type of \"AUTO_NUMBER\" is auto-generated.",
            "properties": {
              "fill": {
                "description": "Indicates zero-padding. Must be between 0 and 10 \"0\" (zero) characters.",
                "type": "string"
              },
              "prefix": {
                "description": "The prefix. Can include the date tokens:\n  * {DD}\n  * {MM}\n  * {YY}\n  * {YYYY}\n",
                "type": "string"
              },
              "startingNumber": {
                "description": "The starting number for the auto-id.",
                "type": "number"
              },
              "suffix": {
                "description": "The suffix. Can include the date tokens:\n  * {DD}\n  * {MM}\n  * {YY}\n  * {YYYY}\n",
                "type": "string"
              }
            }
          },
          "contactOptions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "email": {
                  "description": "A parsable email address.",
                  "type": "string"
                },
                "name": {
                  "description": "Can be a user's name, display name, or free text.",
                  "type": "string"
                }
              }
            },
            "description": "Array of ContactOption objects to specify a pre-defined list of values for the column. Column **type** must be **CONTACT_LIST**."
          },
          "description": {
            "type": "string",
            "description": "Column description."
          },
          "format": {
            "type": "string",
            "description": "The format descriptor (see [Formatting](../../#section/API-Basics/Formatting)). Only returned if the **include** query string parameter contains **format** and this column has a non-default format applied to it."
          },
          "formula": {
            "description": "The formula for the column, if set.",
            "type": "string"
          },
          "hidden": {
            "type": "boolean",
            "description": "Indicates whether the column is hidden."
          },
          "id": {
            "type": "number",
            "description": "Column Id."
          },
          "index": {
            "type": "number",
            "description": "Column index or position. This number is zero-based."
          },
          "locked": {
            "type": "boolean",
            "description": "Indicates whether the column is locked. In a response, a value of **true** indicates that the column has been locked by the sheet owner or the admin."
          },
          "lockedForUser": {
            "type": "boolean",
            "description": "Indicates whether the column is locked for the requesting user. This attribute may be present in a response, but cannot be specified in a request."
          },
          "options": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Array of the options available for the column."
          },
          "primary": {
            "type": "boolean",
            "description": "Returned only if the column is the Primary Column (value = **true**)."
          },
          "symbol": {
            "type": "string",
            "description": "When applicable for **CHECKBOX** or **PICKLIST** column types. See [Symbol Columns](../../tag/columnsRelated#section/Column-Types/Symbol-Columns)."
          },
          "systemColumnType": {
            "type": "string",
            "enum": [
              "AUTO_NUMBER",
              "CREATED_BY",
              "CREATED_DATE",
              "MODIFIED_BY",
              "MODIFIED_DATE"
            ],
            "description": "See [System Columns](../../tag/columnsRelated#section/Column-Types)."
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "CALENDAR_END_DATE",
                "CALENDAR_START_DATE",
                "CARD_DONE",
                "GANTT_ALLOCATION",
                "GANTT_ASSIGNED_RESOURCE",
                "GANTT_DISPLAY_LABEL",
                "GANTT_DURATION",
                "GANTT_END_DATE",
                "GANTT_PERCENT_COMPLETE",
                "GANTT_PREDECESSOR",
                "GANTT_START_DATE",
                "BASELINE_START_DATE",
                "BASELINE_END_DATE",
                "BASELINE_VARIANCE"
              ]
            },
            "description": "Set of tags to indicate special columns. Each element in the array is set to one of the listed enum values."
          },
          "title": {
            "type": "string",
            "description": "Column title."
          },
          "type": {
            "type": "string",
            "enum": [
              "ABSTRACT_DATETIME",
              "CHECKBOX",
              "CONTACT_LIST",
              "DATE",
              "DATETIME",
              "DURATION",
              "MULTI_CONTACT_LIST",
              "MULTI_PICKLIST",
              "PICKLIST",
              "PREDECESSOR",
              "TEXT_NUMBER"
            ],
            "description": "See [Column Types](../../tag/columnsRelated#section/Column-Types)"
          },
          "validation": {
            "type": "boolean",
            "description": "Indicates whether validation has been enabled for the column (value = **true**)."
          },
          "version": {
            "type": "number",
            "enum": [
              0,
              1,
              2
            ],
            "description": "* `0`: CONTACT_LIST, PICKLIST, or TEXT_NUMBER.\n* `1`: MULTI_CONTACT_LIST.\n* `2`: MULTI_PICKLIST.\n"
          },
          "width": {
            "type": "number",
            "description": "Display width of the column in pixels."
          }
        }
      },
      "ColumnObject": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "Column title."
          },
          "type": {
            "type": "string",
            "enum": [
              "ABSTRACT_DATETIME",
              "CHECKBOX",
              "CONTACT_LIST",
              "DATE",
              "DATETIME",
              "DURATION",
              "MULTI_CONTACT_LIST",
              "MULTI_PICKLIST",
              "PICKLIST",
              "PREDECESSOR",
              "TEXT_NUMBER"
            ]
          },
          "formula": {
            "type": "string",
            "description": "The formula for a column, if set, for instance **=data@row**."
          },
          "hidden": {
            "type": "boolean",
            "description": "Indicates whether the column is hidden."
          },
          "index": {
            "type": "number",
            "description": "Column index or position. This number is zero-based."
          },
          "autoNumberFormat": {
            "$ref": "#/components/schemas/Column/properties/autoNumberFormat"
          },
          "contactOptions": {
            "$ref": "#/components/schemas/Column/properties/contactOptions/items"
          },
[...]
