{{>licenseInfo}}
package {{invokerPackage}};

import java.time.OffsetDateTime;
import java.time.format.DateTimeFormatter;
import java.time.format.DateTimeParseException;

/**
* Class that add parsing/formatting support for Java 8+ {@code OffsetDateTime} class.
* It's generated for java clients when {@code AbstractJavaCodegen#dateLibrary} specified as {@code java8}.
*
* copied from
* https://github.com/OpenAPITools/openapi-generator/tree/master/modules/openapi-generator/src/main/resources/Java
* and based on pointers from
* https://www.palo-it.com/en/blog/spring-boot-client-and-server-code-generation-using-openapi-3-specs
*/
{{>generatedAnnotation}}
public class JavaTimeFormatter {
    // same as https://github.com/smartsheet/smartsheet-java-sdk/blob/mainline/src/main/java/com/smartsheet/api/internal/json/JacksonJsonSerializer.java#L81
    private static final DateTimeFormatter DATE_FORMATTER = DateTimeFormatter.ofPattern("yyyy-MM-dd'T'HH:mm:ss'Z'");

    /**
    * Get the date format used to parse/format {@code OffsetDateTime} parameters.
    * @return DateTimeFormatter
    */
    public DateTimeFormatter getOffsetDateTimeFormatter() {
        return DATE_FORMATTER;
    }

    /**
    * Set the date format used to parse/format {@code OffsetDateTime} parameters.
    * @param offsetDateTimeFormatter {@code DateTimeFormatter}
    */
    public void setOffsetDateTimeFormatter(DateTimeFormatter offsetDateTimeFormatter) {
        // don't allow anything to change our formatter
    }

    /**
    * Parse the given string into {@code OffsetDateTime} object.
    * @param str String
    * @return {@code OffsetDateTime}
    */
    public OffsetDateTime parseOffsetDateTime(String str) {
        try {
            return OffsetDateTime.parse(str, getOffsetDateTimeFormatter());
        } catch (DateTimeParseException e) {
            throw new RuntimeException(e);
        }
    }

    /**
    * Format the given {@code OffsetDateTime} object into string.
    * @param offsetDateTime {@code OffsetDateTime}
    * @return {@code OffsetDateTime} in string format
    */
    public String formatOffsetDateTime(OffsetDateTime offsetDateTime) {
        return getOffsetDateTimeFormatter().format(offsetDateTime);
    }
}
