# sample secrets.props with all keys used; values to provided by you (but don't check it in!) :)
AttachmentData.CommentAttachment.name           :
AttachmentData.RowAttachment.name               :
AttachmentData.SheetAttachment.name             :
AttachmentData.SheetAttachment.id               :
AttachmentData.SheetAttachment.createdDate      :

# 0-based and fixed indexing currently because these map 1:1 with the ColumnData.ColumnBriefData enum (FIXME?)
ColumnData.ColumnBriefData.0.id                 :
ColumnData.ColumnBriefData.0.title              :
ColumnData.ColumnBriefData.0.type               :
ColumnData.ColumnBriefData.1.id                 :
ColumnData.ColumnBriefData.1.title              :
ColumnData.ColumnBriefData.1.type               :
ColumnData.ColumnBriefData.2.id                 :
ColumnData.ColumnBriefData.2.title              :
ColumnData.ColumnBriefData.2.type               :
ColumnData.ColumnBriefData.3.id                 :
ColumnData.ColumnBriefData.3.title              :
ColumnData.ColumnBriefData.3.type               :
ColumnData.ColumnBriefData.4.id                 :
ColumnData.ColumnBriefData.4.title              :
ColumnData.ColumnBriefData.4.type               :
ColumnData.ColumnBriefData.5.id                 :
ColumnData.ColumnBriefData.5.title              :
ColumnData.ColumnBriefData.5.type               :
ColumnData.modifiedDate                         :

CommentData.id                                  :
CommentData.text                                :
CommentData.attachmentId                        :
CommentData.createdDate                         :
CommentData.discussionId                        :

# 0-based and unbounded because these are stored in ContactData.contact: Set<Contact>
ContactData.contact.0.id                        :
#ContactData.contact.0.name                     : null
ContactData.contact.0.email                     :
ContactData.contact.1.id                        :
ContactData.contact.1.name                      :
ContactData.contact.1.email                     :
ContactData.contact.2.id                        :
ContactData.contact.2.name                      :
ContactData.contact.2.email                     :
ContactData.contact.3.id                        :
ContactData.contact.3.name                      :
ContactData.contact.3.email                     :

DashboardData.id                                :
DashboardData.name                              :
DashboardData.shareDate                         :

DashboardData.shareIdsToDelete.0                :

DashboardData.dashboards.0.createdDate          :
DashboardData.dashboards.0.modifiedDate         :
DashboardData.dashboards.0.id                   :
DashboardData.dashboards.0.accessLevel          : owner | ... (case-insensitive)
DashboardData.dashboards.0.name                 :
DashboardData.dashboards.1.createdDate          :
DashboardData.dashboards.1.modifiedDate         :
DashboardData.dashboards.1.id                   :
DashboardData.dashboards.1.accessLevel          :
DashboardData.dashboards.1.name                 :
DashboardData.dashboards.2.createdDate          :
DashboardData.dashboards.2.modifiedDate         :
DashboardData.dashboards.2.id                   :
DashboardData.dashboards.2.accessLevel          :
DashboardData.dashboards.2.name                 :

DiscussionData.accessLevel                      :
DiscussionData.id                               :
#DiscussionData.comments                        :
#DiscussionData.commentAttachments              :
DiscussionData.commentCount                     :
DiscussionData.createdBy.email                  :
DiscussionData.createdBy.name                   :
#DiscussionData.createdBy.systemUserType        :
DiscussionData.lastCommentedAt                  :
DiscussionData.lastCommentedUser.email          :
DiscussionData.lastCommentedUser.name           :
#DiscussionData.lastCommentedUser.systemUserType:
DiscussionData.parentId                         :
DiscussionData.parentType                       :
DiscussionData.readOnly                         :
DiscussionData.title                            :

DiscussionData.attachment.id                    :
DiscussionData.attachment.parentId              :
DiscussionData.attachment.attachmentType        :
#DiscussionData.attachment.attachmentSubType    :
DiscussionData.attachment.mimeType              :
DiscussionData.attachment.parentType            :
DiscussionData.attachment.createdAt             :
DiscussionData.attachment.createdBy.email       :
DiscussionData.attachment.createdBy.name        :
#DiscussionData.attachment.createdBy.systemUserType :
DiscussionData.attachment.name                  :
DiscussionData.attachment.sizeInKb              :
#DiscussionData.attachment.url                  :
#DiscussionData.attachment.urlExpiresInMillis   :

FavoriteData.favorites.0.id                     :
FavoriteData.favorites.0.type                   : sheet | report | ... (case-insensitive)
FavoriteData.favorites.0.directId               :
FavoriteData.favorites.0.name                   :

FolderData.id                                   :
FolderData.name                                 :
# 1-based and fixed because these map 1:1 with fields in FolderData (FIXME?)
FolderData.childFolder.1.id                     :
FolderData.childFolder.1.name                   :
FolderData.childFolder.2.id                     :
FolderData.childFolder.2.name                   :

# Image privateIDs (gotten via dev-tools; not simple); unbased and unbounded
ImageData.id.1                                  :
ImageData.id.2                                  :
ImageData.image.path                            : src/test/resources/kittens.jpg
ImageData.image.mimeType                        : image/jpeg

ReportData.id                                   :
ReportData.name                                 :
# 1-based and fixed because these map to fields in ReportData (FIXME?)
ReportData.virtualColumnId.1                    :
ReportData.virtualColumnId.2                    :

RowData.id                                      :
RowData.attachmentId                            :

ShareData.shareId                               :
ShareData.shareToEmail                          : (address other than UserData.email since you can't create circular shares)

SheetData.id                                    :
SheetData.name                                  :
SheetData.sourceId                              :

TemplateData.id                                 :
TemplateData.name                               :

UserData.id                                     :
UserData.email                                  :
UserData.firstName                              :
UserData.lastName                               :
UserData.accountName                            :
UserData.accountId                              :
UserData.AlternateEmailData.id                  :

WebhookData.id                                  :

WorkflowData.id                                 :

WorkspaceData.id                                :
WorkspaceData.name                              :
WorkspaceData.folderId                          :
WorkspaceData.folderName                        :
WorkspaceData.shareDate                         :